#header
{
    text-align: center;
    color: blue;
    text-shadow: 1px 1px black;
}
.input
{
    text-align: center;

}
#answer
{
    text-align: center;
    font-size: 33px;

}
#submitButton:hover
{
    cursor: pointer;
}